ultralytics
torch
torchvision
torchaudio
easyocr
opencv-python-headless
Flask
Werkzeug
numpy
Pillow
requests
scipy
PyYAML
tqdm
matplotlib
seaborn
pandas
lap
Cython
py-cpuinfo
thop
psutil
scikit-learn
filterpy