<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="card">
    <div class="header-container">
        <h1>User Dashboard</h1>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </div>
    <nav>
        <a href="{{ url_for('index') }}">License Plate Recognition</a>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>Welcome to your user dashboard!</p>
    <p>Use the link above to access the license plate recognition feature.</p>

  </div>
</body>
</html>
